@model Contact

<div>
<div class="container">
    <div class="contact">
       

                <div class="">
                    <h3>
                        <a>
                            @Model.LastName @Model.FirstName
                        </a>
                    </h3>

                    <p>
                       @Model.YourMessage
                    </p>
                </div>
       
    </div>

    
</div>
</div>
