@model Product

<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="col-9 text-center">
            <h1 class="text-primary"><b>Products Detail</b></h1>
        </div>
    </div>
   <div class="row">

            <div class="col-9">
                <h3>
                    <span>
                        @Model.ProductName
                    </span>
                </h3>

                <p>
                    @Model.Description
                </p>
            </div>
   </div>
    



</div>
